.footer { 
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 50px;
    color: black;
}

.socials { 
    display: grid;
    justify-content: space-between;
}

.socials h3 { 
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.socials a { 
    padding: 20px;
    margin-left: 15px;
}

.footer a::after { 
    content: '↗';
}