.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgba(245, 239, 255, 0.8);
  border-bottom: 1px solid white;
  box-shadow: 0 2px 4px rgba(150, 150, 150, 0.3);
}

.logoLink {
  margin-left: 20px;
}

.logo {
  width: 30px;
  height: 30px;
}

.menuButton {
  display: none;      
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  padding: 0 16px;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.links a:hover {
  color: #a594f9;
}


.links a.contact {
  background-color: #a594f9;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
  color: white;
}

.links a.contact:hover {
  background-color: #e2dcfd;
  color: #a594f9;
}

/* ——— MOBILE ——— */
@media (max-width: 600px) {
  .menuButton {
    display: block;
  }


  .links {
    display: none;
    position: absolute;
    top: 100%;       
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgba(245, 239, 255, 0.95);
  }

  .links.open {
    display: flex;
    border-bottom: 1px solid #e2dcfd;
  }

  .links a {
    padding: 12px 0;
    width: 100%;
    text-align: center;
  }

  .contact {
    margin: 8px 0;
  }
}
