.page { 
  background-image: linear-gradient( 
    to right,
    white, 
    #f5efff 400px,
    white 800px
  );
  background-size: 100% 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;

  min-height: 100vh;
  align-items: center;
  justify-content: center;
}