.aboutMeContainer { 
    margin: 25px;
    color: black;
}

.aboutMeHeader { 
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.aboutMeContent { 
    justify-content: center;
    text-align: center;
}