.footer {
  /* make the footer a flex‐column so everything is centered */
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers children horizontally */
  text-align: center;     /* for the “Made with…” text */
  
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  padding: 50px;
  color: black;
}

.socials {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  gap: 12px;               
  margin-bottom: 20px;     
}


.socials h3 {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  margin: 0;               
}

.socials a {
  padding: 0;               
}

.footer a::after {
  content: '↗';
  margin-left: 4px;          
}
